<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.DocMapper">

    <cache/>
    <insert id="save">
        INSERT INTO t_doc(name, `size`,createuser, type, filename, md5, fid, contexttype)
        VALUES (#{name},#{size},#{createuser},#{type},#{filename},#{md5},#{fid},#{contexttype})
    </insert>

    <select id="findByFid" resultType="com.kaishengit.pojo.Doc">
        select * from t_doc WHERE fid = #{fid}
    </select>

    <select id="findById" resultType="com.kaishengit.pojo.Doc">
        select * from t_doc WHERE id = #{id}
    </select>
</mapper>