<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.SaleDocMapper">

    <cache/>
    <insert id="save">
        INSERT INTO t_sale_doc(name, filename, contenttype, size, saleid) VALUES (#{name}, #{filename},#{contenttype}, #{size},#{saleid})
    </insert>

    <select id="findBySaleId" resultType="SaleDoc">
        select * from t_sale_doc where saleid = #{saleid} order by id desc
    </select>

    <select id="findById" resultType="com.kaishengit.pojo.SaleDoc">
        SELECT * FROM t_sale_doc WHERE id = #{id}
    </select>

</mapper>