<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.NodeMapper">

    <cache size="1024" eviction="FIFO" readOnly="false" flushInterval="60000"/>

    <!--flushCache:不刷新缓存-->
    <insert id="batchSave" parameterType="list" flushCache="false">
        INSERT INTO t_node(nodename) VALUES 
        <foreach collection="list" item="node" separator=",">
            (#{node.nodename})
        </foreach>
    </insert>
    
    <select id="findByIds" parameterType="list" resultType="com.kaishengit.pojo.Node">
        SELECT * FROM t_node WHERE id IN
        <foreach collection="list" item="id" separator="," open="(" close=")">
            (#{id})
        </foreach>
    </select>

    <!--useCache：该语句不被缓存-->
    <select id="findById" resultType="com.kaishengit.pojo.Node" useCache="false">
        SELECT * from t_node WHERE id = #{id}
    </select>

</mapper>