<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.UserMapper">

    <!--
        public void findById(Integer id){}
         int Integer -> Integer
         _int -> int
         id:类似方法名字
         parameterType:方法传入参数的类型
         resultType:方法返回的类型(要写pojo的完全限定名和类名)
    -->

    <select id="findById" parameterType="int" resultType="User" resultMap="userMap">
        SELECT t_user.id,username,address,password,t_tag.tagname,t_tag.id as 'tagid'
        FROM t_user
        INNER JOIN t_tag ON t_tag.userid = t_user.id
        where t_user.id = #{id}
    </select>
    
    <resultMap id="userMap" type="com.kaishengit.pojo.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="address" property="address"/>
        <result column="password" property="address"/>
        <collection property="tagList" ofType="com.kaishengit.pojo.Tag">
            <id column="tagid" property="id"/>
            <result column="tagname" property="tagname"/>
        </collection>
    </resultMap>

    <!--save(User user)-->
    <insert id="save" parameterType="User">
        INSERT INTO t_user(username, address, password) VALUES (#{username},#{address},#{password})
    </insert>

    <!--update-->
    <update id="update" parameterType="User">
        UPDATE t_user
        <set>
        address = #{address},
        password = #{password}
        </set>
         WHERE id = #{id}
    </update>

    <!--delete-->
    <delete id="del" parameterType="int">
        DELETE FROM t_user WHERE id = #{id}
    </delete>

    <!--findAll-->
    <select id="findAll" resultType="User">
        SELECT * FROM t_user
    </select>

    <select id="findByMap" parameterType="map" resultType="User">
        SELECT * FROM t_user WHERE username = #{username} and password = #{password}
    </select>

    <select id="findByParams" resultType="User">
        SELECT * FROM t_user WHERE username = #{username} and password = #{password}
        <!-- SELECT * FROM t_user WHERE username = #{param1} and password = #{param2}-->
    </select>

    <select id="findByQueryParam" parameterType="map" resultType="User">
        SELECT * FROM t_user
        <trim prefix="where" prefixOverrides="and|or">
            <if test="username != null and username != ''">
                username = #{username}
            </if>

            <!--二选一-->
            <choose>
                <when test="address != null and address != ''">
                    and address = #{address}
                </when>
                <when test="password != null and password != ''">
                    and password = #{password}
                </when>
                <otherwise>
                    and 1 = 1
                </otherwise>
            </choose>
            <!--<if test="address != null and address != ''">-->
                <!--and address = #{address}-->
            <!--</if>-->
            <!--<if test="password != null and password != ''">-->
                <!--and password = #{password}-->
            <!--</if>-->
        </trim>
    </select>

    <select id="findByPage" resultType="User">
        SELECT * FROM t_user limit #{start},#{size}
    </select>


</mapper>